*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* grid para estructura del sitio */
.body1{
    background-image: linear-gradient(to bottom, #003366 , #ece6ff);
    display: grid;
    grid-template-areas: "header header header"
                         "encabezado encabezado encabezado"
                         "main main main"
                         "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 700px 1180px 100px;
    height: 100%;
    width: 100%;
    gap: 10px;
}
.body2{
    background-image: linear-gradient(to bottom, #ece6ff, #003366);
    display: grid;
    grid-template-areas: "header header header"
                         "encabezado encabezado encabezado"
                         "main main main"
                         "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 700px 1010px 100px;
    height: 100%;
    width: 100%;
    gap: 10px;
}
.body3{
    background-image: linear-gradient(to bottom, #ece6ff, #003366);
    display: grid;
    grid-template-areas: "header header header"
                         "encabezado encabezado encabezado"
                         "main main main"
                         "formulario formulario formulario"
                         "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 700px 1010px 200px 100px;
    height: 100%;
    width: 100%;
    gap: 10px;
}

/* estilado para menú */
.menu{
    grid-area: header;
    height: 100px;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.menu .logo{
    width: auto;
    height: 90px;
    border-radius: 20%;
}
.menu ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.menu li{
    padding: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    color: goldenrod;
}
.menu .menuNavegacion ul a{
    text-decoration: none;
    color: goldenrod;
    padding: 15px;
    border-radius: 50px;
}
.menu .menuNavegacion ul a:hover{
    background-color: #ece6ff;
}

/* estilado de encabezado */
.encabezado{
    grid-area: encabezado;
    height: 700px;
    width: 100%;
}
.encabezado .portada{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 530px 100px 70px;
    grid-gap: 10px;
    align-items: stretch;
    justify-items: stretch;
    justify-content: center;
    align-content: center;                     
}
.encabezado .portada .imagenEncabezado{
    grid-column: 1 / 4;
    grid-row: 1;
    height: 90%;
    width: 60%;
    padding: 5px;
    justify-self: center;
    align-self: center;
}
.encabezado .portada .titulo{
    grid-column: 2;
    grid-row: 2;
    color: goldenrod;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: xx-large;
    text-align: center;
    justify-self: center;
    align-self: center;
}
.encabezado .portada .texto{
    grid-column: 2;
    grid-row: 3;
    color: black;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: large;
    text-align: center;
    justify-self: center;
    align-self: center;
}

/* estilado de minibio */
.minibio1{
    grid-area: main;
    height: 1180px;
    width: 100%;
}
.minibio2{
    grid-area: main;
    height: 1010px;
    width: 100%;
}

/* .minibio1 */
.minibio1 .galeria{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 90px 500px 90px;
    grid-gap: 10px;
    align-items: stretch;
    justify-items: stretch;
    justify-content: center;
    align-content: center;                     
}
.minibio1 .galeria .imagen1{
    grid-column: 1;
    grid-row: 1;
    height: 500px;
    width: auto;
    padding: 5px;
    justify-self: center;
    align-self: center;
}
.minibio1 .galeria .imagen2{
    grid-column: 2;
    grid-row: 1;
    height: 500px;
    width: auto;
    padding: 5px;
    justify-self: center;
    align-self: center;
}
.minibio1 .galeria .texto1{
    grid-column: 1/3;
    grid-row: 2;
    height: 90px;
    width: auto;
    padding: 10px;
    color: black;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size:medium;
    text-align: center;
    justify-self: center;
    align-self: center;
}
.minibio1 .galeria .imagen3{
    grid-column: 1;
    grid-row: 3;
    height: 500px;
    width: auto;
    padding: 5px;
    justify-self: center;
    align-self: center;
}
.minibio1 .galeria .imagen4{
    grid-column: 2;
    grid-row: 3;
    height: 500px;
    width: auto;
    padding: 5px;
    justify-self: center;
    align-self: center;
}
.minibio1 .galeria .texto2{
    grid-column: 1/3;
    grid-row: 4;
    height: 90px;
    width: auto;
    padding: 10px;
    color: black;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size:large;
    text-align: center;
    justify-self: center;
    align-self: center;
}

/* .minibio2 */
.minibio2 .galeria{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 500px 500px;
    grid-gap: 10px;
    align-items: stretch;
    justify-items: stretch;
    justify-content: center;
    align-content: center;                     
}
.minibio2 .galeria .imagen1{
    grid-column: 1;
    grid-row: 1;
    height: 100%;
    width: auto;
    padding: 25px;
    justify-self: center;
    align-self: center;
}
.minibio2 .galeria .imagen2{
    grid-column: 1;
    grid-row: 2;
    height: 100%;
    width: auto;
    padding: 5px;
    justify-self: center;
    align-self: center;
}
.minibio2 .galeria .texto1{
    grid-column: 2;
    grid-row: 1;
    height: auto;
    width: auto;
    padding: 10px;
    color: whitesmoke;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size:medium;
    text-align: center;
    justify-self: center;
    align-self: center;
}
.minibio2 .galeria .texto2{
    grid-column: 2;
    grid-row: 2;
    height: auto;
    width: auto;
    padding: 10px;
    color: whitesmoke;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size:medium;
    text-align: center;
    justify-self: center;
    align-self: center;
}

/* estilado de formulario/ tabla */
.formulario{
    grid-area: formulario;
    height: 700px;
    width: 100%;
    align-items: stretch;
    justify-items: stretch;
    justify-content: center;
    align-content: center;   
}
.listadoClases{
    grid-area: formulario;
    height: 200px;
    width: 100%;
}
.listadoClases .listado{
    margin-left: 5%;
    align-items: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
}
.listadoClases .tabla{
    height: 80%;
    width: 90%;
    padding: 10px;
    color: whitesmoke;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size:medium;
    text-align: center;
}
.listadoClases .subtitulo{
    height: auto;
    width: auto;
    padding: 10px;
    color: goldenrod;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size:medium;
    text-align: center;
}

/* estilado de footer */
.footer1{
    grid-area: footer;
    height: 100px;
    width: 100%;
    padding: 1rem;
    background-color: #003366;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer1 .logo{
    width: auto;
    height: 50px;
    border-radius: 20%;
}
.footer1 ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.footer1 li{
    width: auto;
    padding: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    color: #003366;
}
.footer1 .menuNavegacion ul a{
    text-decoration: none;
    color: goldenrod;
    background-color: #003366;
    margin: 0 15px;
    padding: 15px;
    border-radius: 50px;
    width: 5%;
    height: auto;
}
.footer1 .menuNavegacion ul a:hover{
    background-color: #ece6ff;
}

.footer2{
    grid-area: footer;
    height: 100px;
    width: 100%;
    padding: 1rem;
    background-color: #003366;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer2 .logo{
    width: auto;
    height: 50px;
    border-radius: 20%;
}
.footer2 ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.footer2 li{
    width: auto;
    padding: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    color: #003366;
}
.footer2 .menuNavegacion ul a{
    text-decoration: none;
    color: goldenrod;
    background-color: #003366;
    margin: 0 15px;
    padding: 15px;
    border-radius: 50px;
    width: 5%;
    height: auto;
}
.footer2 .menuNavegacion ul a:hover{
    background-color: #ece6ff;
}

/* estilado para tablet */
@media only screen and (min-width: 768px) {
    .body1{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100px 700px 1180px 100px;
    }
    .body2{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100px 700px 1010px 100px;
    }
    .body3{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100px 700px 1010px 200px 100px;
    }
    .menu{
        grid-column: 1/4;
        grid-row: 1;
    }   
    .encabezado{
      grid-column: 1/4;
      grid-row: 2;
    }
    .minibio1{
        grid-column: 1/4;
        grid-row: 3;
    }
    .minibio2{
        grid-column: 1/4;
        grid-row: 3;
    }
    .footer1{
        grid-column: 1/4;
        grid-row: 4;
    } 
    .listadoClases{
        grid-column: 1/4;
        grid-row: 4; 
    }
    .footer1{
        grid-column: 1/4;
        grid-row: 5;
    } 
}

/* /* estilado para descktop */
@media only screen and (min-width: 1024px) {
    .body1{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100px 700px 1180px 100px;
    }
    .body2{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100px 700px 1010px 100px;
    }
    .body3{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100px 700px 1010px 200px 100px;
    }
    .menu{
        grid-column: 1/4;
        grid-row: 1;
    }   
    .encabezado{
      grid-column: 1/4;
      grid-row: 2;
    }
    .minibio1{
        grid-column: 1/4;
        grid-row: 3;
    }
    .minibio2{
        grid-column: 1/4;
        grid-row: 3;
    }
    .footer1{
        grid-column: 1/4;
        grid-row: 4;
    } 
    .listadoClases{
        grid-column: 1/4;
        grid-row: 4; 
    }
    .footer1{
        grid-column: 1/4;
        grid-row: 5;
    } 
}