* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #ece6ff;
}

/* estructura del grid */

.body{
    display: grid;
    grid-template-areas: "header header header"
                         "encabezado encabezado encabezado"   
                         "main main main"
                         "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 3fr 5fr 2fr;
    gap: 20px;
    align-items: center;
}

/* header, nav, section, article, div, footer {
    padding: 25px;
}

.linea {  
    background-color: goldenrod;
    padding: 2px;
} */

/* .imagen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: max(60%, 500px);
    border: 2px solid black;
} */

/* flexbox para menú*/
.menu{
    grid-area: header;
}

.menu{
    background-color: #003366;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between;
    align-items: center; */
    padding: 10px;
}

.menu .logo {
    width: auto;
    height: 70px;
    border-radius: 22px;    
}

/* #menu .menuNavegacion{
    background-color: #003366;
} */

.menuNavegacion ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.menuNavegacion li{
    width: 220px;
    padding: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    color: #000924;
}

/* .menu .menuNavegacion ul a{
    text-decoration: none;
    color: white;
    background-color: #003366;
    margin: 0 15px;
    padding: 15px;
    border-radius: 50px;
    width: 5%;
    height: auto;
}

.menu .menuNavegacion ul a:hover{
    background-color: #ece6ff;
} */

/* .encabezado article{
    background-color: #ece6ff;
    background-size: cover;
}  */

/* fin del estilado del menu */

/* comienzo del estilado del encabezado */
.encabezado .titulo{
    background-color: #ece6ff;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    font-family: 'Shadows Into Light';
    color: #003366;
}

.encabezado .texto{
    background-color: #ece6ff;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: #d4af37;
}

.imagenEncabezado {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: max(60%, 500px);
}
/* fin del estilado del encabezado */

/* comienzo del estilado de los main */
#minibio .galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: goldenrod; 
}

#minibio .galeriaObras {
    display: grid;
    grid-template-columns: 1fr;
}

#minibio .texto {
    background-color: #ece6ff;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    font-size: 70px;
    font-weight:lighter;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: black;
}

#clases .texto {
    background-color: #ece6ff;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    font-size: 50px;
    font-weight:lighter;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: black;
}

#listadoClases .subtitulo{
    background-color: #ece6ff;
    font-size: 60px;
    font-weight: bold;
    text-align: left;
    font-family: 'Dancing Script', cursive;
    color: #003366;
}

#listadoClases .tabla{
    background-color: ece6ff;
    border: 5px solid #003366;
    font-family: 'Dancing Script', cursive;
    color: black;
    align-items: center;
    margin-bottom: 25px;
}
/* fin del estilado de los main */

/* comienzo del estilado de formulario */
#formulario {
    background-color: #ece6ff;
}

#formulario .subtitulo{
    background-color: #ece6ff;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: #003366;
}

#formulario .suscribase{
    background-color: #ece6ff;
    border:solid 5px goldenrod;
    margin: 0 700px 0 700px;
    padding: 5px;
    height: 250px;
    width: 500px;
    justify-content: center;
    align-items: center;
}

#formulario .legend{
    background-color: #ece6ff;
    font-size: 33px;
    font-weight: bold;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: goldenrod;
}

#formulario .celda{
    background-color: #ece6ff;
    margin: 0 0 0 50px;
    padding: 5px;
    height: 30px;
    width: auto;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#formulario .termYcond{
    margin: 0;
    padding: 5px;
    height: auto;
    width: auto;
    font-size: 11px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#formulario .boton{
    margin: 10px;
    height: auto;
    width: auto;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px;
}

#formulario .contacto{
    background-color: #ece6ff;
    border:solid 5px goldenrod;
    margin: 0 700px 0 700px;
    padding: 5px;
    height: 250px;
    width: 900px;
    justify-content: center;
    align-items: center;
}
/* fin del estilado de suscribase */

/* comienzo del estilado de footer */
#footer {
    background-color: #ffb399;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#footer .logo {
    width: max(5%, 50px);
    height: auto;
    border-radius: 25px;    
} 

#footer .menuNavegacion{
    background-color: #ffb399;
}

#footer .menuNavegacion ul{
    display: flex;
    list-style: none;
}

#footer .menuNavegacion li{
    background-color: #ffb399;
}

#footer .menuNavegacion ul a{
    text-decoration: none;
    color: white;
    background-color: #ffb399;
    margin: 0 15px;
    padding: 15px;
    border-radius: 50px;
    width: 5%;
    height: auto;
}

#footer .menuNavegacion ul a:hover{
    background-color: #002e4d;
 }
/* fin del estilado de footer */